#exportPattern("^[[:alpha:]]+")

export(
	# main functions
	"hclustSO", "leaderSO",
	# additional
	"makeEnc", "encodeSO",
	"computeTotal",
	"empty.symObject","create.symData", "as.symData"
	# datasets
	,"popul06f","popul06m"
	# methods
	,"print.symObject","summary.symData"
	)

S3methods("print","symObject")
S3methods("summary","symData")
